.header {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.header .inner-logo img {
  width: 100px;
}

.header .inner-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header .inner-menu ul li {
  list-style: none;
  font-size: 20px;
}

.header .inner-menu ul li a {
  color: #000;
}

/* end-header */
.footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
  color: #000000;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
/* end-footer */
.box-head .inner-title {
  margin:20px 0 30px 0;
}
.product-item{
  box-shadow: 0 4px 10px rgba(0.1, 0.1, 0.1, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.product-item .inner-item .inner-image img {
  aspect-ratio: 3/2;
  overflow: hidden;
  cursor: pointer;
}
.product-item .inner-item .inner-content {
  padding: 10px;
}
.product-item .inner-item .inner-content .inner-title{
  font-weight: 700;
  font-size: 24px;
}
.product-item .inner-item .inner-content .inner-price-new {
  color: green;
}
.product-item .inner-item .inner-content .inner-price-old {
  color: red;
  text-decoration: line-through;
}
.product-item .inner-item .inner-content .inner-discount {
  padding: 10px 15px;
  background-color: red;
  color: #fff;
  font-weight: 500;
  width: fit-content;
  border-radius: 12px;
}