/* header */
.header {
  background-color: #689071;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
 
}

.header .inner-logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

/* end-header */


/* body  */
.body {
  display: flex;
}
.body .sider {
  width: 10%;
  background-color: #AEC3B0;
  color: #fff;
  height: calc(100vh - 56px);
}

.body .main {
  margin: 15px;
  flex: 1
}

/* end-body */

/* sider  */
.sider .inner-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}