/* header */
.header {
  background-color: #1E1D2F;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;

}

.header .inner-logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

/* end-header */


/* body  */
.body {
  display: flex;
}

.body .sider {
  width: 10%;
  background-color: #1E1D2F;
  height: calc(100vh - 56px);
  position: fixed;
}

.body .main {
  margin: 15px;
  flex: 1;
  margin-left: 230px;
}

/* end-body */

/* sider  */
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sider .inner-menu ul li a {
  color: #ffffff56;
  display: block;
  padding: 15px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sider .inner-menu ul li a:hover {
  color: #ffff;
  text-decoration: none;
  background-color: #25243a;

}

/* end-sider */


/* show-alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  color: gray;
  background-color: #aec3b096;
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  width: 24px;
  height: 24px;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
}

/* end-show-alert */

/* pagination */
.page-link {
  color: #25243a;
}

.page-link:hover {
  color: #25243a;
}

.page-item.active .page-link {
  background-color: #25243a;
  border-color: #25243a;
  color: white;
}

/* end-pagination */

/* image-preview */
.image-preview {
  width: 250px;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.image-preview[src=""] {
  display: none;
}

/* end-image-preview */

/* button */
.btn-success {
  background-color: #6775FF !important;
  border-color: #6775FF !important;
  color: #ffff;
}

.btn-success:hover {
  background-color: #6776ff9f !important;
}

.btn-outline-success {
  color: #6775FF;
  border: 1px solid #6775FF !important;
}
.btn-outline-success:hover{
  color: #fff;
  background-color: #6775FF !important;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #6775FF !important;
  border-color: #6775FF !important;
}

/* end-button */