extends layout/default.pug
include mixins/box-head.pug
block main
  
  //- div(class = "box-head")
  //-   h1(class = "inner-title") Trang chủ
  //-   div(class = "inner-desc") Đây là đoạn mô tả của trang chủ

  //- cách dưới đây giống với các tạo 1 hàm function trong react rồi sau đó import và truyền data vào
  +box-head("Trang chủ", "Đây là đoạn mô tả của trang chủ") 
  