extends ../../layouts/default.pug

block css 
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
  link(rel="stylesheet" href="/css/home.css")

block main
  //- 1. BANNER SLIDER (Đã co lại chiều cao)
  section.section-banner
    .swiper.home-slider
      .swiper-wrapper
        .swiper-slide
          img(src="/images/banner-1.jpg" alt="Banner 1")
        .swiper-slide
          img(src="/images/banner-2.jpg" alt="Banner 2")
        .swiper-slide
          img(src="/images/banner-3.jpg" alt="Banner 2")
      .swiper-pagination
      .swiper-button-next
      .swiper-button-prev

  //- 2. DẢI TIỆN ÍCH (SERVICES)
  section.section-services.py-5
    .container
      .row
        .col-lg-3.col-md-6.mb-3
          .service-item
            .inner-icon
              i.fa-solid.fa-truck-fast
            .inner-content
              h4 Worldwide Shipping

        .col-lg-3.col-md-6.mb-3
          .service-item
            .inner-icon
              i.fa-solid.fa-headset
            .inner-content
              h4 Order Online Service

        .col-lg-3.col-md-6.mb-3
          .service-item
            .inner-icon
              i.fa-solid.fa-credit-card
            .inner-content
              h4 Payment

        .col-lg-3.col-md-6.mb-3
          .service-item
            .inner-icon
              i.fa-solid.fa-rotate-left
            .inner-content
              h4 Return 30 Days

block script
  script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
  script.
    document.addEventListener("DOMContentLoaded", () => {
      const swiper = new Swiper('.home-slider', {
        loop: true,
        autoplay: { delay: 4000 },
        pagination: { el: '.swiper-pagination', clickable: true },
        navigation: { nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' },
      });
    });