header.header
  .container
    .row.align-items-center.box-menu
      .col-3
        .inner-logo 
          a(href="/")
            img(src="https://tse1.mm.bing.net/th/id/OIP.U5_zLsnVPxKVKJbbv2ooywHaGH?pid=Api&P=0&h=180" alt = "logo" width="200px")

      .col-9
        .inner-menu 
          ul  
            li  
              a(href="/") Trang chủ
            li  
              a(href="/products") Sản phẩm