include ../mixins/sub-menu.pug
header.header
  .container
    .row.align-items-center
      //- Cột 1: Menu đa cấp (Căn trái)
      .col-6
        nav.inner-menu 
          ul
            li: a(href="/") Trang chủ
            li: a(href="/introduction") Giới Thiệu
            //- Menu Sản phẩm với đầy đủ các mục 1, 1-1, 1-2...
            li.sub-menu
              -const pathProduct ="/products"
              a(href=pathProduct) Sản phẩm
              +sub-menu(layoutProductsCategory,pathProduct)
            li
              a(href="/blog") Blog
            li
              a(href="/contact") Liên Hệ
            li
              a(href="/checkcart") Kiểm tra đơn hàng

      //- Cột 2: Logo (Nằm chính giữa)
      .col-3.text-center
        .inner-logo 
          a(href="/") FIGUREXJE

      //- Cột 3: Actions (Căn phải)
      .col-3
        .inner-actions.d-flex.justify-content-end.align-items-center
          .action-search-box
            input(type="text" placeholder="Search...")
            i.fa-solid.fa-magnifying-glass
          
          .action-auth.mx-3
            a(href="javascript:;") 
              i.fa-regular.fa-circle-user
            //- Menu xổ xuống của User
            ul.inner-menu-user
              li
                a(href="/user/login") Đăng nhập
              li
                a(href="/user/register") Đăng ký
        
          .action-cart
            a(href="/cart")
              i.fa-solid.fa-cart-shopping
              span.badge 1